body{
  font-family: 'Playfair Display', serif;
  color: black;
}

html {
  position:relative;
  min-height: 100%;
}

.w-65{
  width: 65%;
}

@media (min-width: 1200px){
  .container, .container-lg, .container-md, .container-sm, .container-xl {
      max-width: 1024px;
  }
}
textarea:focus,
button:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {  
  border-color: none !important;
  box-shadow: none !important;
  outline: 0 none !important;
}

.navbar{
  padding: 30px 0px 30px 0px;
}

nav .navbar-brand{
  width: 40px;
  height: 40px;
}

nav .navbar-brand-text{
  background-color: black;
  color: white !important;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 0px !important;
}

nav .navbar-nav a{
  color: black !important;
  font-size: 19px;
  margin-left: 15px !important;
  padding: 0px !important;
}

@keyframes flickerAnimation {
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}

@media screen and (max-width: 990px) {
  .navbar-nav{
    margin-top: 10px;
  }

  nav .navbar-nav a{
    margin-left: 0px !important;
  }
}
/*
nav .navbar-nav a:focus{
  animation-name: flickerAnimation;
  animation-duration: .3s;
  animation-iteration-count: 3;
}*/

.home-header{
  position: relative;
  text-align: center;
  color: white;
}

.home-header img{
  border-radius: 20px;
}

.home-header .on-image{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home-header h1{
  font-size: 70px;
}

.home-header p{
  font-size: 20px;
}

.home-header .btn{
  color: white;
  border-color: white;
  padding: 3px;
  font-size: 20px;
}

.home-header .btn:hover{
  background-color: white;
  color: black;
}

.gallery .form-group{
  position: relative;
  margin-top: 60px;
  margin-bottom: 30px;
}

.gallery .btn{
  position: absolute;
  right: 0px;
}

.gallery .has-search .form-control {
  padding-left: 2.375rem;
  border-radius: 0px !important;
  border: none !important;
  border-bottom: 1px solid gray !important;
  margin-bottom: 5px;
}

.gallery .has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

.checkbox input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.checkbox label {
  position: relative;
  cursor: pointer;
  margin-left: 20px;
}

.checkbox label:before {
  content:'';
  -webkit-appearance: none;
  background-color: transparent;
  border: 1px solid black;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 6px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 5px;
}

.checkbox input:checked + label:after {
  content: '';
  display: block;
  position: absolute;
  top: 9px;
  left: 5px;
  width: 5px;
  height: 8px;
  border: solid black 1px;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.pager{
  margin-top: 10px;
  display: flex;
}

.pager .pageNumbers a{
  margin-right: 10px;
  color: gray;
  font-size: 23px;
  text-decoration: none;
}

.pager .pageNumbers a.active{
  color: black;
}

.pager .ml-auto div{
  margin-left: 10px;
  font-size: 23px;
  cursor: pointer;
  -webkit-user-select: none;
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none;
}

.pager .ml-auto div.disabled{
  color: gray;
}

.fixed-bottom{
  background-color: white;
}

.footer-wrap{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

footer{
  border-top: 1px gray solid;
  padding-top: 20px;
  background-color: white;
  margin-bottom: 5px;
}

footer .text-right a{
  padding-left: 20px;
  color: #919191;
  text-decoration: none;
}

footer .text-right a:hover{
  color: black;
}

footer h3{
  margin-bottom: 0px;
  font-weight: bold;
}

.footer-height{
  height: 160px;
}

.home .w-65{
  margin-top: 60px !important;
  width: 65% !important;
}

.home .w-65 h1{
  margin-right: 120px;
  width: 150px;
  font-weight: bold;
}

@media screen and (max-width: 1000px) {
  .home .w-65{
    width: 100% !important;
    flex-direction: column !important;
  }
}

.faq h1{
  font-weight: bold;
}

.item-page h1{
  font-weight: bold;
  font-size: 24px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.item-page h2{
  font-size: 19px;
  margin-bottom: 50px;
}

.item-page p{
  margin-bottom: 0px;
  color: gray;
}

.item-page b{
  font-weight: normal;
  color: black;
}

.item-page h3{
  margin-bottom: 20px;
  margin-top: 10px;
  font-weight: bold;
  font-size: 22px;
}

.item-page .col-md-3{
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.item-page .btn{
  border-radius: 2px;
  padding: 5px 30px;
  font-size: 20px;
  color: black;
  margin-top: 25px;
}

.item-page .btn:hover{
  background-color: black;
  color: white;
}

#no-result{
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  margin-top: -20px;
}

.no{
  display: none !important;
}

.mystyle{
  display: block !important;
}

.mystyle2{
  display: block;
}
